# System files
.DS_Store
Thumbs.db
desktop.ini

# Editor settings
.vscode/
.idea/

# Temporary files
*.tmp
*.log

# Wireshark captures
*.pcap
*.pcapng

# Packet Tracer / GNS3 optional files
*.pkt
*.gns3